openapi: 3.0.3
info:
  title: FC온라인 API
  version: 1.0.0
  description: |-
    - 데이터는 매시 정각, 두 시간 전의 게임 데이터가 업데이트됩니다.
    - e.g. 오후 3시 5분에 캐릭터 정보 API 호출하면 오늘 오후 1시까지의 정보를 조회할 수 있습니다.
servers:
  - url: 'https://open.api.nexon.com'

tags:
  - name: Match
    description: 매치 정보 조회

paths:
  /fconline/v1/match-detail:
    get:
      tags:
        - Match
      summary: 매치 상세 기록 조회
      description: |
        매치 고유 식별자{matchid}로 매치의 상세 정보를 조회합니다.
        * 매치 시점, 매치 종류와 매치에 참여한 유저의 상세한 매치 통계가 반환됩니다.
        * 매치 통계가 생성되기 전에 상대방이 매치를 종료할 경우, 상대방의 매치 정보가 보이지 않을 수도 있습니다.
      operationId: fconline_get_match_by_matchid
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: matchid
          in: query
          description: 매치 고유 식별자
          required: true
          schema:
            type: string
            example: "6572d9bbc7331d2a45f3d755"
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchDetail'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

components:
  schemas:  
    MatchDetail:
      type: object
      properties:
        matchId:
          type: string
          description: 매치 고유 식별자
          example: 64f0000c00007210005f0000
        matchDate:
          type: string
          description: 매치 일자 (UTC0)
          example: "2023-10-29T12:22:48"
        matchType:
          type: integer
          description: 매치 종류 (/metadata/matchtype API 참고)
          example: 52
        matchInfo:
          type: array
          description: 매치 참여 플레이어별 매치 상세
          items:
            properties:
              ouid:
                type: string
                description: 계정 식별자
              nickname:
                type: string
                description: 유저 닉네임
                example: "닉네임"
              division:
                type: integer
                description: 등급 식별자
              matchDetail:
                type: object
                description: 매치 결과 상세 정보
                properties:
                  seasonId:
                    type: integer
                    description: 시즌 ID
                    example: 202311
                  matchResult:
                    type: string
                    description: 매치 결과 (“승”, “무”, “패”)
                    example: "승"
                  matchEndType:
                    type: integer
                    description: 매치종료 타입 (0 정상종료, 1 몰수승, 2 몰수패)
                    example: 0
                  systemPause:
                    type: integer
                    description: 게임 일시정지 수
                    example: 0
                  foul:
                    type: integer
                    description: 파울 수
                    example: 0
                  injury:
                    type: integer
                    description: 부상 수
                    example: 1
                  redCards:
                    type: integer
                    description: 받은 레드카드 수
                    example: 0
                  yellowCards:
                    type: integer
                    description: 받은 옐로카드 수
                    example: 0
                  dribble:
                    type: integer
                    description: 드리블 거리(야드)
                    example: 78
                  cornerKick:
                    type: integer
                    description: 코너킥 수
                    example: 0
                  possession:
                    type: integer
                    description: 점유율
                    example: 46
                  OffsideCount:
                    type: integer
                    description: 오프사이드 수
                    example: 1
                  averageRating:
                    type: number
                    description: 경기 평점
                    example: 1.18889
                  controller:
                    type: string
                    description: 사용한 컨트롤러 타입 (keyboard / pad / etc 중 1)
                    example: "keyboard"

              shoot:
                type: object
                description: 슈팅 정보
                properties:
                  shootTotal:
                    type: integer
                    description: 총 슛 수
                    example: 3
                  effectiveShootTotal:
                    type: integer
                    description: 총 유효슛 수
                    example: 3
                  shootOutScore:
                    type: integer
                    description:   승부차기 슛 수
                    example: 0
                  goalTotal:
                    type: integer
                    description:   총 골 수 (실제 골 수, goalInPenalty + goalOutPenalty + goalPenaltyKick)
                    example: 2
                  goalTotalDisplay:
                    type: integer
                    description: 게임 종료 후 유저에게 노출되는 골 수
                    example: 2
                  ownGoal:
                    type: integer
                    description: 자책 골 수
                    example: 0
                  shootHeading:
                    type: integer
                    description: 헤딩 슛 수
                    example: 2
                  goalHeading:
                    type: integer
                    description:   헤딩 골 수
                    example: 1
                  shootFreekick:
                    type: integer
                    description: 프리킥 슛 수
                    example: 0
                  goalFreekick:
                    type: integer
                    description: 프리킥 골 수
                    example: 0
                  shootInPenalty:
                    type: integer
                    description:   인패널티 슛 수
                    example: 3
                  goalInPenalty:
                    type: integer
                    description:   인패널티 골 수
                    example: 2
                  shootOutPenalty:
                    type: integer
                    description: 아웃패널티 슛 수
                    example: 0
                  goalOutPenalty:
                    type: integer
                    description:   아웃패널티 골 수
                    example: 0
                  shootPenaltyKick:
                    type: integer
                    description:   패널티킥 슛 수
                    example: 0
                  goalPenaltyKick:
                    type: integer
                    description:   패널티킥 골 수
                    example: 0

              shootDetail:
                type: array
                description: 슈팅 별 상세정보 리스트
                items:
                  properties:
                    goalTime:
                      type: integer
                      description: |
                        슛 시간
                        - 2^24*0 ~ 2^24*1 - 1 사이에 속할 때: 전반전이며 그대로 사용
                        - 2^24*1 ~ 2^24*2 - 1 사이에 속할 때: 후반전이며 2^24*1 차감 후 45\*60s 더하기
                        - 2^24*2 ~ 2^24*3 - 1 사이에 속할 때: 연장전 전반전이며 2^24*2 차감 후 90\*60s 더하기
                        - 2^24*3 ~ 2^24*4 - 1 사이에 속할 때: 연장전 후반전이며 2^24*3 차감 후 105\*60s 더하기
                        - 2^24*4 ~ 2^24*5 - 1 사이에 속할 때: 승부차기이며 2^24*4 차감 후 120\*60s 더하기
                      example: 786
                    x:
                      type: number
                      description:   슛 x좌표 (전체 경기장 기준)
                      example: 0.9499898435243545
                    y:
                      type: number
                      description: 슛 y좌표 (전체 경기장 기준)
                      example: 0.4995435465846854
                    type:
                      type: integer
                      description: |
                        슛 종류
                        - 1: normal 
                        - 2:finesse 
                        - 3: header 
                        - 4: lob (로빙슛)
                        - 5: flare (플레어슛) 
                        - 6: low (낮은 슛) 
                        - 7: volley (발리)
                        - 8: free-kick (프리킥) 
                        - 9: penalty (페널티킥)
                        - 10: KNUCKLE (무회전슛)) 
                        - 11: BICYCLE(바이시클킥)
                        - 12: super(파워샷)
                      example: 2
                    result:
                      type: integer
                      description: 슛 결과 (1 ontarget , 2 offtarget , 3 goal)
                      example: 1
                    spId:
                      type: integer
                      description: 슈팅 선수 고유 식별자 (/metadata/spid API 참고)
                      example: 272167135
                    spGrade:
                      type: integer
                      description: 슈팅 선수 강화 등급
                      example: 5
                    spLevel:
                      type: integer
                      description: 슈팅 선수 레벨
                      example: 5
                    spIdType:
                      type: boolean
                      description: 슈팅 선수 임대 여부 (임대선수 true, 비임대선수 false)
                      example: true
                    assist:
                      type: boolean
                      description: 어시스트 받은 골 여부. (받음 true, 안받음 false)
                      example: false
                    assistSpI:
                      type: integer
                      description:   어시스트 선수 고유 식별자 (/metadata/spid API 참고)
                      example: -1
                    assistX:
                      type: number
                      description: 어시스트 x좌표
                      example: 0.5
                    assistY:
                      type: number
                      description: 어시스트 y좌표
                      example: 0.5
                    hitPost:
                      type: boolean
                      description: 골포스트 맞춤 여부. (맞춤 true, 못 맞춤 false)
                      example: false
                    inPenalty:
                      type: boolean
                      description: 페널티박스 안에서 넣은 슛 여부 (안 true, 밖 false)
                      example: true
              pass:
                type: object
                description: 패스 정보
                properties:
                  passTry:
                    type: integer
                    description:   패스 시도 수
                    example: 92
                  passSuccess:
                    type: integer
                    description: 패스 성공 수
                    example: 83
                  shortPassTry:
                    type: integer
                    description: 숏 패스 시도 수
                    example: 55
                  shortPassSuccess:
                    type: integer
                    description:   숏 패스 성공 수
                    example: 55
                  longPassTry:
                    type: integer
                    description: 롱 패스 시도 수
                    example: 3
                  longPassSuccess:
                    type: integer
                    description:   롱 패스 성공 수
                    example: 3
                  bouncingLobPassTry:
                    type: integer
                    description:   바운싱 롭 패스 시도 수
                    example: 1
                  bouncingLobPassSuccess:
                    type: integer
                    description:   바운싱 롭 패스 성공 수
                    example: 0
                  drivenGroundPassTry:
                    type: integer
                    description:   드리븐 땅볼 패스 시도 수
                    example: 10
                  drivenGroundPassSuccess:
                    type: integer
                    description:   드리븐 땅볼 패스 성공 수
                    example: 10
                  throughPassTry:
                    type: integer
                    description:   스루 패스 시도 수
                    example: 19
                  throughPassSuccess:
                    type: integer
                    description: 스루 패스 성공 수
                    example: 14
                  lobbedThroughPassTry:
                    type: integer
                    description: 로빙 스루 패스 시도 수
                    example: 4
                  lobbedThroughPassSuccess:
                    type: integer
                    description:   로빙 스루 패스 성공 수
                    example: 1
              defence:
                type: object
                description: 수비 정보
                properties:
                  blockTry:
                    type: integer
                    description:   블락 시도 수
                    example: 3
                  blockSuccess:
                    type: integer
                    description:   블락 성공 수
                    example: 0
                  tackleTry:
                    type: integer
                    description:   태클 시도 수
                    example: 11
                  tackleSuccess:
                    type: integer
                    description:   태클 성공 수
                    example: 9
              player:
                type: array
                description: 경기 사용 선수 정보
                items:
                  properties:
                    spId:
                      type: integer
                      description: 선수 고유 식별자 (/metadata/spid API 참고)
                      example: 277205401
                    spPosition:
                      type: integer
                      description:   선수 포지션 (/metadata/spposition API 참고)
                      example: 28
                    spGrade:
                      type: integer
                      description:   선수 강화 등급
                      example: 3
                    status:
                      type: object
                      description: 선수 경기 스탯
                      properties:
                        shoot:
                          type: integer
                          description:   슛 수
                          example: 0
                        effectiveShoot:
                          type: integer
                          description:   유효 슛 수
                          example: 0
                        assist:
                          type: integer
                          description: 어시스트 수
                          example: 0
                        goal:
                          type: integer
                          description: 득점 수
                          example: 0
                        dribble:
                          type: integer
                          description: 드리블 거리(야드)
                          example: 256
                        intercept:
                          type: integer
                          description: 인터셉트 수
                          example: 1
                        defending:
                          type: integer
                          description:   디펜딩 수
                          example: 0
                        passTry:
                          type: integer
                          description: 패스 시도 수
                          example: 12
                        passSuccess:
                          type: integer
                          description: 패스 성공 수
                          example: 11
                        dribbleTry:
                          type: integer
                          description:   드리블 시도 수
                          example: 12
                        dribbleSuccess:
                          type: integer
                          description:   드리블 성공 수
                          example: 11
                        ballPossesionTry:
                          type: integer
                          description:   볼 소유 시도 수
                          example: 4
                        ballPossesionSuc:
                          type: integer
                          description:   볼 소유 성공 수
                          example: 2
                        aerialTry:
                          type: integer
                          description: 공중볼 경합 시도 수
                          example: 3
                        aerialSuccess:
                          type: integer
                          description: 공중볼 경합 성공 수
                          example: 0
                        blockTry:
                          type: integer
                          description:   블락 시도 수
                          example: 0
                        block:
                          type: integer
                          description:   블락 성공 수
                          example: 0
                        tackleTry:
                          type: integer
                          description:   태클 시도 수
                          example: 1
                        tackle:
                          type: integer
                          description: 태클 성공 수
                          example: 1
                        yellowCards:
                          type: integer
                          description: 옐로카드 수
                          example: 0
                        redCards:
                          type: integer
                          description:   레드카드 수
                          example: 0
                        spRating:
                          type: number
                          description: 선수 평점
                          example: 6.4
    ErrorMessage:
      type: object
      properties:
        error:
          type: object
          properties:
            name:
              type: string
              description: 에러 명
              example: string
            message:
              type: string
              description: 에러 설명
              example: stirng
